{:source-paths ["src"]

 :dependencies
 [[binaryage/oops "0.7.2"]
  [com.taoensso/timbre "6.0.4"]
  [macchiato/hiccups "0.4.1"]]

 :builds
 {:hat-tourney-builder
  {:target :browser
   :output-dir "public/js"
   :devtools {:after-load hat-tourney-builder.core/refresh!}
   :modules {:main {:entries [hat-tourney-builder.core]}}}}}
